@import "./defaul.less";
.container{
    
    .nav-left{
        // min-width: 180px;
        background-color: #001529;
        height: calc(100vh);
    }
    .main{
        height: calc(100vh);
        background-color: @colorL;
        // auto意思是当超出时自动滚动
        overflow: auto;
    }   
    .content{
        position: relative;
        padding: 20px;
    }
}